{
  "GetPriceAndQueueEmailFunction": {
    "AWS_ACCESS_KEY_ID": "your-access-key-id",
    "AWS_SECRET_ACCESS_KEY": "your-secret-access-key",
    "AWS_REGION": "your-region",
    "TABLE_NAME": "CryptoSearchHistory",
    "QUEUE_URL": "https://sqs.your-region.amazonaws.com/your-account-id/your-queue-name",
    "DYNAMO_ENDPOINT": "http://host.docker.internal:8000"
  }
}
